<html>
    <head>
        <meta charet="utf-8">
        <title>Iris</title> 
    </head>




    <body  bgcolor="#8a2be2">
      <center>
    <h1> Iris Detection</h1>

    <form action="{{url_for('predict')}}" method="post">
        <input type="text" name="sepal_length" placeholder="enter here sepal_length">
        <input type="text" name="sepal_width" placeholder="enter here sepal_width">
        <input type="text" name="petal_length" placeholder="enter here petal_length">
        <input type="text" name="petal_width" placeholder="enter here petal_width">
        <input type="submit" value="Submit">

    </form>
    
    
    
    
    
    
   
      </center>


    </body>





</html>